@using CaptchaMvc.HtmlHelpers
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.Captcha("Refresh", "Type text from picture:", 5, "Is required field.", true).AsIntelligent()
    <p class="Error">  @ViewBag.ErrMessage </p>

    <input type="submit" value="Send">
}
    </div>
</body>
</html>